sqlalchemy
asyncpg
psycopg
psycopg-binary
alembic
pydantic
pydantic-settings
sqlmodel
starlette
fastapi
uvicorn
passlib
python-jose
transformers==4.49.0
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0